@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/opensans/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

main {
    font-family: "Open Sans", sans-serif;
}